<p>
  <strong>You just created a list named:</strong>
  <%= @list.name %>
</p>

<h2>Current items on <%= @list.name %> </h2>
<table>
  <tr>
    <th>Description</th>
    <th>Due Date</th>
    <th>Completion Status</th>
  </tr>
<% @list.items.each do |item| %>
  <tr>
  <td><%= item.description %></td>
  <td><%= item.due_date %></td>
  <td><%= item.done %></td>
  <td><%= link_to 'Delete Item', [item.list, item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<h2>Add an item:</h2>
<%= render 'items/form' %>

<%= link_to 'Back', lists_path %>
<%= link_to 'Edit List Name', edit_list_path %>