<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <title>RedoTodoRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="container">
<%= link_to "Home", root_path %>
<%= link_to "Lists", lists_path %>
<%= link_to "Create New List", new_list_path %>
</div>

<body>
<div class="container">
<% if current_user %>
  <div class="col-sm-2"><%= current_user.email %></div>
  <div class="col-sm-4"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
  <!-- <%= button_to "Sign Out", destroy_user_session_path, method: :delete %> -->
<% else %>
  <div class="col-sm-4"><%= link_to "Sign in", new_user_session_path %></div>
<% end %>
</div>

<p class="bg-success"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
